@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  font-variant-numeric: lining-nums;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@layer components {
  .page-title {
    @apply text-6xl sm:text-7xl md:text-8xl
    /* leading-9 sm:leading-10 md:leading-14 */
    p-4
    font-extrabold  tracking-tight 
    text-gray-100 dark:text-gray-100;
    /* text-shadow; */
  }

  .full-width {
    @apply w-screen relative left-1/2 right-1/2 mx-[-50vw];
  }

  .full-bleed {
    grid-column: 1 / 3;
    overflow-x: auto;
  }

  .content-width {
    @apply px-2 mx-auto md:px-4 max-w-4xl;
  }

  .header-width {
    @apply px-2 mx-auto md:px-4 max-w-5xl;
  }

  .background-header::before {
    @apply bg-rose-50;
    content: '';
    position: absolute;
    width: 100%;
    height: 1600px;
    z-index: -40;
    top: -120px;
  }

  .post-container {
    @apply grid p-2;
    grid-template-columns:
      1fr
      min(75ch, 100%);
  }

  .post-container > * {
    grid-column-start: 2;
  }
}
